fastapi>=0.111.0
uvicorn[standard]>=0.30.0

loguru>=0.7.2
pydantic>=2.7.0
python-dotenv>=1.0.1

langchain>=0.2.7
langchain-openai>=0.1.17
langchain-community>=0.2.7
langsmith>=0.1.85

faiss-cpu>=1.8.0
sentence-transformers>=3.0.1
rank-bm25>=0.2.2
tiktoken>=0.7.0

tenacity>=8.3.0
orjson>=3.10.7

pypdf>=4.2.0
numpy>=1.26.4
